@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=PT+Serif&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto 100%;
}
h1 {
  font-family: 'PT Serif', serif;
}